<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace=" ">
	<select id="selectAllMember" resultType="mvo">
		SELECT * FROM member
	</select>
	
	<select id="selectAllLog" resultType="lvo">
		SELECT * FROM log
	</select>


	<select id="selectAllIngredient" resultType="ivo">
		SELECT * FROM ingredient
		order by i_grade asc
	</select>
	
	<select id="selectAllComment" resultType="cvo">
		SELECT * FROM comment
	</select>
	
	<select id="selectAllArticle" resultType="avo">
		SELECT * FROM article
	</select>
	
	<select id="selectAllProducts" resultType="pvo">
		SELECT * FROM products
	</select>
	
	
	<select id="selectMember" parameterType="mvo" resultType="int">
		SELECT * FROM member WHERE M_ID=#{m_id} AND M_PWD=#{m_pwd}
	</select>
	
	<insert id="insertMember" parameterType="mvo">
		
	
	</insert>
</mapper>


