<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="ProductMapper">
	<select id="findAllProduct" resultType="pvo">
		SELECT p_no, p_brand, p_cate, p_name, p_img, p_grade FROM products
		ORDER BY p_no ASC
	</select>
	
	<select id="findByBrand" resultType="pvo">
		SELECT p_no, p_brand, p_cate, p_name, p_img, p_grade FROM products
		WHERE p_brand = #{p_brand}
		ORDER BY p_no ASC
	</select>
	
	<select id="findByCate" resultType="pvo">
		SELECT p_no, p_brand, p_cate, p_name, p_img, p_grade FROM products
		WHERE p_cate = #{p_cate}
		ORDER BY p_no ASC
	</select>
	
	<select id="findByName" resultType="pvo">
		SELECT p_no, p_brand, p_cate, p_name, p_img, p_grade FROM products
		WHERE p_name = #{p_name}
		ORDER BY p_no ASC
	</select>
	
	
	
</mapper>