<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace=" ">
	<select id="selectAllMember" resultType="mvo">
		SELECT * FROM MEMBER
	</select>
	<select id="selectAllLog" resultType="lvo">
		SELECT * FROM LOG
	</select>
	<select id="selectAllGrade" resultType="gvo">
		SELECT * FROM GRADE
	</select>
	<select id="selectAllComment" resultType="cvo">
		SELECT * FROM COMMENT
	</select>
	<select id="selectAllArticle" resultType="avo">
		SELECT * FROM ARTICLE
	</select>
	<select id="selectAllProducts" resultType="pvo">
		SELECT * FROM PRODUCTS
	</select>
	
	
	<select id="selectMember" parameterType="mvo" resultType="int">
		SELECT * FROM MEMBER WHERE M_ID=#{m_id} AND M_PWD=#{m_pwd}
	</select>
	
	<insert id="insertMember" parameterType="mvo">
		
	
	</insert>
	
	
</mapper>
